//
// _globals.scss
//
// Define global variables
//
// --------------------------------------------------

// Colors
$black: #000;
$dark: #333;
$white: #fff;
$light_grey: #ccc;
$dark_grey: #666;
$red: #d33a2c;
$dark_red: #bc3428;
$light_grey2: #f6f4f7;
$light_grey3: #fcfafd;
$light_grey4: #f2f0f3;
